body {
  font-family: Arial, Helvetica, sans-serif;
  margin:0px;
  height:100%;
  min-width:1600px;
  width: auto !important;
  width:1600px;
}

.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
  z-index:20;
  position:fixed;
  top: 0; /* Stay at the top */
  left: 0;
}

.navbar a {
  float: right;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;

}

.navbar a:hover {
  background-color: #000;
}

.sidebar-container {
  height:calc(100% - 44px);
  width: 180px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 10; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x:hidden;
  overflow-y:scroll;
  background-color: #fff;
  margin-top:44px;
  border-right: 1px solid black;
}

.sidebar {
  min-height:calc(100%);
  width: 159px; /* Set the width of the sidebar */
  position: relative; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 21; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #fff;
  border-right: 1px solid black;
}

@media screen and (max-width: 500px) {
}

.container {
    display: flex;
}

.consult-link{
  border: 1px solid black;
  border-top:0px;
  border-right:0px;
  margin:auto;
  padding:10px;
  height:auto;
  display:block;
  cursor:pointer;
  font-size:12px;
  white-space:normal;
  max-width:160px;
  background-color:#dbe9ff;
}

.chat-link{
  border: 1px solid black;
  border-top:0px;
  border-right:0px;
  margin:auto;
  padding:10px;
  height:auto;
  display:block;
  cursor:pointer;
  font-size:12px;
  white-space:normal;
  max-width:160px;
  background-color:#ffe9db;
}

.templates{
  display:none;
}

.consult-input{
  border-radius:5px;
  height:45px;
  width:calc(100% - 190px);
  resize: none;
  padding:5px;
  float:right;
}

.consult-send-button{
  width:50px;
  float:right;
  margin-right:10px;
  margin-left:10px;
  padding:18px 5px 18px 5px;;
  background-color:white;
  text-align:center;
  border-radius:5px;
  border-style: outset;
  border-width:2px;
}

.consult-file-button{
  float:left;
  width:50px;
  margin-right:10px;
  margin-left:10px;
  padding:18px 5px 18px 5px;;
  background-color:white;
  text-align:center;
  border-radius:5px;
  border-style: outset;
  border-width:2px;
}

.consult-bar {
  width:calc(100% - 170px);
  background-color: #ddd;
  overflow: auto;
  z-index:20;
  position:fixed;
  right:0px;
  bottom: 0px; /* Stay at the top */
  padding:5px;
  padding-top:20px;
  padding-bottom:20px;
  overflow-x: hidden;
}

.consult-container{
  width:calc(100% - 430px);
  height:calc(100% - 202px);
  min-width:360px;
  margin-left:410px;
  margin-top:85px;
  background-color: white;
  z-index:20;
  position:fixed;
  padding-top:20px;
  padding-left:20px;
  padding-right:20px;
  overflow-y: scroll;
}

.chat-input{
  border-radius:5px;
  height:45px;
  width:calc(100% - 190px);
  resize: none;
  padding:5px;
  float:right;
}

.chat-send-button{
  width:50px;
  float:right;
  margin-right:10px;
  margin-left:10px;
  padding:18px 5px 18px 5px;;
  background-color:white;
  text-align:center;
  border-radius:5px;
  border-style: outset;
  border-width:2px;
}

.chat-file-button{
  float:left;
  width:50px;
  margin-right:10px;
  margin-left:10px;
  padding:18px 5px 18px 5px;;
  background-color:white;
  text-align:center;
  border-radius:5px;
  border-style: outset;
  border-width:2px;
}

.chat-bar {
  width:calc(100% - 170px);
  background-color: #ddd;
  overflow: auto;
  z-index:20;
  position:fixed;
  right:0px;
  bottom: 0px; /* Stay at the top */
  padding:5px;
  padding-top:20px;
  padding-bottom:20px;
  overflow-x: hidden;
}

.chat-container{
  width:calc(100% - 200px);
  height:calc(100% - 202px);
  margin-left:161px;
  margin-top:85px;
  background-color: white;
  z-index:20;
  position:fixed;
  padding-top:20px;
  padding-left:20px;
  padding-right:20px;
  overflow-y: scroll;
}

.team-input{
  border-radius:5px;
  height:45px;
  width:calc(100% - 190px);
  resize: none;
  padding:5px;
  float:right;
}

.team-send-button{
  width:50px;
  float:right;
  margin-right:10px;
  margin-left:10px;
  padding:18px 5px 18px 5px;;
  background-color:white;
  text-align:center;
  border-radius:5px;
  border-style: outset;
  border-width:2px;
}

.team-file-button{
  float:left;
  width:50px;
  margin-right:10px;
  margin-left:10px;
  padding:18px 5px 18px 5px;;
  background-color:white;
  text-align:center;
  border-radius:5px;
  border-style: outset;
  border-width:2px;
}

.team-bar {
  width:calc(100% - 170px);
  background-color: #ddd;
  overflow: auto;
  z-index:20;
  position:fixed;
  right:0px;
  bottom: 0px; /* Stay at the top */
  padding:5px;
  padding-top:20px;
  padding-bottom:20px;
  overflow-x: hidden;
}

.team-container{
  width:calc(100% - 200px);
  height:calc(100% - 203px);
  margin-left:161px;
  margin-top:85px;
  background-color: white;
  z-index:20;
  position:fixed;
  padding-top:20px;
  padding-left:20px;
  padding-right:20px;
  overflow-y: scroll;
}

.message-options {
  width:calc(100% - 170px);
  background-color: #ddd;
//  overflow: auto;
  z-index:20;
  position:fixed;
  right:0px;
  top: 44px; /* Stay at the top */
  padding:5px;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space:nowrap;
}

.message-destination{
  text-align:left;
  margin-bottom:20px;
  width:auto;
}
.message-source{
  text-align:left;
  right:0;
  margin-bottom:20px;

}

.message{
  padding:20px;
  border-radius: 20px;
  max-width:calc(60% - 40px);
  min-width:120px;
  width: max-content;
  word-wrap: break-word;
}

.message-source>.message{
  background-color:#b8eda6;
  text-align:left;
  border:1px;
  right:0;
  margin-right:0px;
  margin-left:auto;
}

.message-destination>.message{
  background-color:#63a84c;
  border:1px;
}

.message-name{
  color:#666;
  font-size:8pt;
}

.message-status{
  color:#666;
  font-size:8pt;
  font-style:italic;
}

.message-options-transcript, .message-options-close, .message-options-setpin, .get-consult, .consult-entry-request, .consult-entry-clear{
  display:inline-block;
  font-size:8pt;
  padding: 5px;
  border-radius:5px;
  margin-bottom:5px;
  border-style: outset;
  border-width:2px;
  background-color: green;
  color:white;
  white-space:nowrap;
}

.message-options-close, .consult-entry-clear{
  background-color: red;
}

.message-options-online{
  float:right;
  border:1px solid black;
  background-color:#9fc9ed;
  padding:2px;
  border-radius:5px;
}

.message-options-team-online{
  border:1px solid black;
  background-color:white;
  font-size:8pt;
  position:fixed;
  right:0px;
  display:none;
  width: 200px;
}

.get-consult{
  text-align:center;
  display:none;
}

.button-link:hover{
  cursor:pointer;
}

.message-time{
  font-size:8pt;
  color:#aaa;
}

.message-info{
  text-align:right;
  white-space: nowrap;
  max-width:calc(60% - 40px)!important;
  min-width:120px!important;
}

.message-source>.message-info{
  text-align:right;
  margin-right:0px;
  margin-left:auto;
  width:120px!important;
}

.message-destination>.message-time{
  text-align:left;
  margin-right:40%;
}

.queue-window{
  border:1px solid black;
  flex-basis: calc(50% - 50px); 
  display:flex;
  justify-content:top;
  flex-direction:column;
  margin:0px 0px 20px 20px;
  border-radius:10px;
  padding:10px;
  overflow-y:auto;
  overflow-x:hidden;
  max-height:calc(50% - 50px);
}

.queue-window>div{
  display: flex;
  justify-content: left;
  flex-direction: column;
  white-space: nowrap;
  overflow-x:hidden;
  min-height:18px;
}

.ongoing-list-item{
  height:60px!important;
}

.queue-container{
  display:flex;
  flex-wrap:wrap;
  flex-direction:row;
  width:calc(100% - 200px);
  height:calc(100% - 63px);
  margin-left:160px;
  margin-top:44px;
  background-color: white;
  z-index:20;
  position:fixed;
  padding-top:20px;
  padding-left:20px;
  padding-right:20px;
  overflow-x:hidden;
}

.lobby-window{
  border:1px solid black;
  min-width: calc(50% - 50px);
  flex-wrap:no-wrap;
  display:flex;
  justify-content:top;
  flex-direction:column;
  margin:0px 0px 20px 20px;
  border-radius:10px;
  padding:10px;
  overflow-y:auto;
  overflow-x:hidden;
  height:calc(50% - 60px);
}

.voice-online{
  max-height:calc(100% - 50px)!important;
  min-height:calc(100% - 80px)!important;
}

.lobby-window>div{
  display: flex;
  justify-content: left;
  flex-direction: column;
  white-space: nowrap;
  overflow-x:hidden;
  min-height:18px;
}

.lobby-container{
  display:flex;
  flex-wrap:wrap;
  flex-flow: column wrap;
  width:calc(100% - 200px);
  height:calc(100% - 44px);
  margin-left:160px;
  margin-top:44px;
  background-color: white;
  z-index:20;
  position:fixed;
  padding-top:20px;
  padding-left:20px;
  padding-right:20px;
  overflow-x:hidden;
}

.waiting-list-item-lob,.available-list-item-lob,.online-list-item-lob{
  height:16px;
  width:16px;
  object-fit:none;
  object-position:0 0;
}

.waiting-list, .available-list, .online-list{
  height:calc(50% - 30px);
  min-height:20px;
  font-size:12px;
  cursor:pointer;
}

.ongoing-list-item{
  padding:5px;
  border-radius:5px;
  border: 1px solid black;
  font-size:10pt;
  margin-bottom:10px;
  background-color:white;
}

.lob-L2{
  object-position:0 0;
}

.lob-TM{
  object-position:-16px 0;
}

.lob-OT{
  object-position:-32px 0;
}

.lob-CC{
  object-position:-48px 0;
}

.lob-VO{
  object-position:-64px 0;
}

.lob-CH{
  object-position:-80px 0;
}

.title{
  font-weight:bold;
  whitespace:nowrap;
}

.l2-dashboard, .voice-online{
  background-color:#dbc486;
}

.rma-dashboard, .nonvoice-online{
  background-color:#8adeaf;
}

.cct-dashboard, .support-online{
  background-color:#88a9db;
}

.ongoing-dashboard{
  background-color:#dd8ede;
}

.log-screen{
  top:0px;
  left:0px;
  width:210px;
  height:calc(100% - 170px);
  margin-left:161px;
  margin-top:85px;
  background-color: white;
  z-index:20;
  position:fixed;
  padding-top:20px;
  padding-left:20px;
  padding-right:20px;
  overflow-y: scroll;
  font-size:8pt;
}

.ongoing-list-item-duration{
  float:right!important;
  border:1px solid black!important;
  font-family: "Courier New"!important;
  font-size:12px;
  font-weight:bold!important;
  
}

.chat-popup{
  border:1px solid black;
  z-index:99;
  background-color:white;
  padding:5px;
  font-size:12pt;
  cursor:pointer;
}

.chat-popup:hover{
  background-color:#458556;
  color:white;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 30; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 430px;; /* Could be more or less, depending on screen size */
  font-size:10pt;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.row{
  width:100%;
  margin:5px;
}

.row:after{
  clear:both;
}

.column{
  display:inline-block;
}

#consult-entry-summary{
  border-radius:5px;
  height:200px;
  width:400px;
  resize: none;
  padding:5px;
}

#consult-entry-input{
  border-radius:5px;
  height:45px;
  resize: none;
  padding:5px;
}

.hiddenDiv{
  display:none;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 16px;
  vertical-align:bottom;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(1, 102, 6);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(34px);
  -ms-transform: translateX(34px);
  transform: translateX(34px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 16px;
}

.slider.round:before {
  border-radius: 50%;
}

.slider:after
{
 content:'L2';
 color: white;
 display: block;
 position: absolute;
 transform: translate(-50%,-50%);
 top: 50%;
 left: 50%;
 font-size: 10px;
 font-family: Verdana, sans-serif;
}

input:checked + .slider:after
{  
  content:'CCT';
}

.fa-times-circle {
  color:red;
}

.active {
  background-color: #b5e8ba;
}

.endedConsult{
    color: #fff;
		padding: 10px;
		display: inline-block;
		animation: blinkingBackground 5s infinite;
}

@keyframes blinkingBackground{
		0%		{ background-color: #f58f87;color:white}
    1%    { background-color: #ffcbc7;color:black}
		33%		{ background-color: #ffcbc7;color:white}
    34%    { background-color: #f58f87;color:black}
    66%		{ background-color: #f58f87;color:white}
    67%    { background-color: #ffcbc7;color:black}
		99%		{ background-color: #ffcbc7;color:white}
    100%    { background-color: #f58f87;color:black}
}

.newQueue{
		animation: blinkingQueue 5s infinite;
}

@keyframes blinkingQueue{
		0%		{ background-color: black;color:white}
		50%		{ background-color: white;color:black}
    100%    { background-color: black;color:white}
}

.consult-status {
  width:calc(100% - 430px);
  overflow: auto;
  z-index:21;
  padding-left:20px;
  position:relative;
  overflow-x: hidden;
  overflow-y: hidden;
  align:center;
  border-radius:20px;
  margin-left:auto;
  margin-right:auto;
  whitespace: nowrap;
  font-size:10px;
}
